form {
  background-color: white;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 4px;
}

input, textarea {
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: .9em;
}

button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212CFF;
  color: white;
  margin-top: 15px;
  width: 156.83px;
}

@media screen and (min-width: 768px) {  
  form {
    width: 45%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}