.title {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  margin: 30px 0 18px 0;
  text-align: center;
}

button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212CFF;
  color: white;
  margin: 10px 0;
}

.post {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 1px 20px;
  margin: 20px 0;
}

.postTitle {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.postContent {
  margin: 4px 0 26px 0;
}

.material-icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

/* .title {
  font-family: 'Homemade Apple', cursive;
  color: rgb(3, 169, 244);
  font-size: 24px;
  text-align: center;
}

.newThoughtButton {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  background-color: white;
}

.socialPosts {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.material-icons {
  position: absolute;
  right: 0;
  top: 10px;
} */