<p class="title">What's on your mind?</p>

<button (click)="toggleForm()" class="newThoughtButton">
  New thought
</button>

<post-form *ngIf="show" (submitted)="onSubmit($event)"></post-form>

<div class="userThoughts">
  <div class="post" *ngFor="let post of posts; index as i">
    <p class="postTitle">{{ post.title }}</p>
    <p class="postContent">{{ post.thought }}</p>
    <i (click)="removePost(i)" class="material-icons">delete</i>
  </div>
</div>

<img class="blue-blob" src="../../assets/blueblob.svg" alt="">
<img class="purple-blob" src="../../assets/purpleblob.svg" alt="">
<img class="yellow-blob" src="../../assets/yellowblob.svg" alt="">